label {
  display: block;
  margin-top: 10px;
}

.apple {
  padding-left: 15px !important;
  padding-right: 15px !important;

}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  border-radius: 10px;
  margin-top: 10px;


}

.regcard-container.regcard {
  max-width: 800px !important;
  height: 950px;
  padding: 40px 40px;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  border-radius: 10px;
  margin-top: 10px;


}

.regcard {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.formControl {
  width: 350px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 20px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

}

.profile-img-card-header {
  width: 40px;
  height: 40px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

button {
  width: 270px;
  height: 40px;
  border-radius: 60px;
  background-color: #000000;
  color: white;
  font-size: 20px;
  border: none;
  margin-bottom: 10px;

}

.link {
  font-size: 13px;
  font-weight: 400;
  margin-left: 17px;
}

a {
  color: rgb(0, 0, 0);
}

.regbtn {
  width: 720px;
  height: 40px;
  border-radius: 60px;
  background-color: #000000;
  color: white;
  font-size: 20px;
  border: none;
  margin-bottom: 1px;
}

.reglink {
  font-size: 13px;
  font-weight: 400;
  margin-left: 520px;
  margin-top: 10px;

}
/* profile */
.gendersize{
  width: 271px;
}


